body {
    background: url("../images/gymBackground.jpg");
    background-size: cover;
    /* background: no-repeat; */
    /* opacity: 0.1; */
    font-family: 'Pacifico';
    color: white;
}

div {
    /* background-color: white; */
    width: 60%;
    margin: 100px auto;
    text-align: center;
    border-radius: 20px;
}

button {
    background: lightblue;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    font-family: 'Pacifico';
}

h1 {
    /* font-family: 'Permanent Marker'; */
    font-size: 6em;
    padding-bottom: 80px;
}

p {
    font-size: 4em;
}